.reviews-container{
    transition: all 0.5s ease-in-out;
    background-color: rgb(88, 88, 88);
    background-image: url(../assets/bg6.jpg);
    background-position: center;
    background-size: 100% 100%;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}
.left,.right{
    font-size: min(3vw,5vh);
    transition: all 0.5s ease-in-out;
    z-index: 1;
    color: rgba(179, 179, 179, 0.685);
    text-align: center;
    position: absolute;
    cursor: pointer;
}
.left{
    left: 3%;
}
.right{
    right: 3%;
}
.review{
    height: 70vh;
    width: 80%;
    position: absolute;
    left: 10%;
    font-size: min(5vw,8vh);
    color: rgba(255, 255, 255, 0.644);
    display: flex;
    justify-content: center;
}
